@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<h1>---Bem vindo, Projeto CRUD para a UPBRASIL---</h1>    
<p>Este projeto tem como objetivo atender as seguintes demandas: 
Criação de uma pequena aplicação CRUD , qualquer versão do dotnet, preferencialmente web/c#, 
qualquer banco de dados relacional, sendo preferencialmente sql server p/ persistência dos dados.
</p>
<b>Cadastro de Produtos<br />
Codigo (pk) <br />
nome <br />
Descrição <br />
status ativo ( 0/1) Sim / Não <br />
Data de Cadastro<br />
<br /><br />
Tela de Pesquisa <br />
Edição <br />
Cadastro <br />
Exclusão <br />
</b>
------------------------------------------------------------------------------------------------------------<br />
A ideia inicial do projeto era fazer em webforms para não conflitar com o projeto do meu amigo ari,
porem o mesmo falou que faria em webforms. então pensei porque não aproveitar para aprender alguma coisa nova
resolvi fazer meu projeto com .net-core e ultilizando o scaffolding.
também foi usado 2 bibliotecas(NuGet) = <br />
-Microsoft.EntityFrameworkCore.SqlServer<br />
-Microsoft.EntityFrameworkCore.Tools<br />

<p>
Em relação ao banco aproveitei para entender como funciona melhor as migrations.

independente de qual quer coisa este projeto serviu para meu aprendizado pessoal. 
</p>
<b>(obrigado UPBRASIL pela oportunidade)</b>
<br />
<br />
<br />
<br />
<p><b>Instruções basicas estão no <a asp-action="Privacy">privacy</a></b></p>

</div>
