

<p>Projeto de crud desenvolvido por walter guaitolini matos no dia 17/07/2022</p>
<p>O mesmo tem a finalidade de avaliação de conhecimentos para vaga de desenvolvimento da <b>UPBRASIL</b></p>
<p>Todos os arquivos necessários estarão a disposição no git</p>
<b>
    Solution. <br />
    Scrip do banco de dados.<br />

</b><br />

<p>Para mudar a ConectionString acesse a pasta <b>Model</b> depois <b>BDbase</b></p>
<p>caso não queira rodar o script do banco , tambem tem como gerar da seguinte maneira: </p>
<p>apague a migration e gera ela novamente com o comando <b>add-migration</b> UPBRASIL </p>
<p>agora ultilize o comando <b>update-database</b> e verifique se foi gerado no banco ea aplicação vai rodar sem problemas. </p>

<p>Basicamente tem estes dois geitos de configurar o banco de dados. em caso de duvidas estou a disposição no telefone. <b>(27) 9.9967-8504</b></p>
<p>Atenciosamente Walter Guaitolini</p>
