USE [master]
GO
/****** Object:  Database [UPBRASIL]    Script Date: 17/07/2022 22:52:59 ******/
CREATE DATABASE [UPBRASIL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UPBRASIL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\UPBRASIL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UPBRASIL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\UPBRASIL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UPBRASIL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UPBRASIL]
GO
/****** Object:  User [walterSA]    Script Date: 17/07/2022 22:52:59 ******/
CREATE USER [walterSA] FOR LOGIN [walterSA] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [walter]    Script Date: 17/07/2022 22:52:59 ******/
CREATE USER [walter] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [walterSA]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [walterSA]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [walterSA]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [walterSA]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [walterSA]
GO
ALTER ROLE [db_datareader] ADD MEMBER [walterSA]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [walterSA]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [walterSA]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [walterSA]
GO
ALTER ROLE [db_owner] ADD MEMBER [walter]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 17/07/2022 22:52:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produtos]    Script Date: 17/07/2022 22:52:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produtos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Descricao] [nvarchar](max) NULL,
	[Ativo] [bit] NOT NULL,
	[Data] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Produtos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
